{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          I'm Balaji, and I am a recent graduate with a Master’s in Computer Applications with CGPA of 8.78 from SV College of Engineering, Tirupati.
My technical skills involve programming languages such as Python, basic Java and C, but i'm proficient in python,
as well as experience in front-end development using HTML, CSS, and Bootstrap. On the back-end, I’ve worked with Flask.
Additionally, I have good knowledge in Selenium and beautiful soup library for web scraping and automated testing.
        </p>
        <p>
          Beyond academics, I am passionate about technology and game development. So, In my free time, I enjoy playing PC games, which inspires my enthusiasm for exploring the gaming industry in the future.
Also, I'm learning game development as a hobbie. Being tech-savvy, I continuously seek to learn new technologies and technical news that's happening all around the world.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
